{% extends "layout_boxed.html.twig" %}

{% block title %}{{ page.name }}{% endblock %}

{% block content %}

    <p>{{ highlander.say | first }}</p>

    <h2>{{ page.name }}</h2>
    <p> <i>Created at: {{ page.created }}</i></p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ipsum soluta temporibus illum hic qui culpa, quod veritatis voluptatum nesciunt, incidunt recusandae, nemo ab itaque! Accusamus, maxime. Earum, nihil assumenda.</p>
    
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ipsum soluta temporibus illum hic qui culpa, quod veritatis voluptatum nesciunt, incidunt recusandae, nemo ab itaque! Accusamus, maxime. Earum, nihil assumenda.</p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tenetur ipsum soluta temporibus illum hic qui culpa, quod veritatis voluptatum nesciunt, incidunt recusandae, nemo ab itaque! Accusamus, maxime. Earum, nihil assumenda.</p>
{% endblock %}